.pacman-laoding-container {
  width: 150px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.pacman {
  animation: pacman-animation 3s infinite linear;
}

@keyframes pacman-animation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}