.search-wrapper {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #545454;
  width: 100%;
  max-width: 440px;
}

.search-input {
  width: 100%;
  flex: 1;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  font-family: "Inter";
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.search-button {
  border-radius: 8px;
  padding: 0;
  border: none;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  width: 24px;
  height: 24px;
}